{% extends 'base.html' %}

{% block content %}

<table border="0" cellpadding="0" cellspacing="0" class="itemlist">
<tbody>

<tr style="height:5px"></tr><tr><td colspan="2"></td><td>
      <h3>All Tags</h3>
    </td></tr>

{% for tag in tags %}
<tr class='athing' id='14330547'>
      <td align="right" valign="top" class="title"><span class="rank">{{ forloop.counter }}.</span></td>      
      <td valign="top" class="votelinks"><center>
          <div class='votearrow' title='upvote'></div></center></td>
          <td class="title"><a href="{{ tag.get_relative_url }}" class="storylink">{{ tag.name }}</a>
          <span class="articlecount"> ({{ tag.article_count }} stories)</span>
      <tr class="spacer" style="height:5px"></td>
</tr>
{% endfor %}
<tr class="spacer" style="height:5px"></tr>

    <!--<tr class="morespace" style="height:10px"></tr><tr><td colspan="2"></td><td class="title"><a href="news?p=2" class="morelink" rel="nofollow">More</a></td></tr>-->
  </tbody>
  </table>

{% endblock %}
